@import "./variables.scss";

@font-face {
  font-family: "shamel-book";
  src: url("../assets/fonts/ff-shamel-family/ff-shamel-family.ttf")
    format("truetype");
}
@font-face {
  font-family: "shamel-bold";
  src: url("./assets/fonts/ff-shamel-family/ff-shamel-family-bold.ttf");
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "shamel-book";
}
.logo-containerr {
  width: 100%;
  height: 167px;
  background-color: $active;
}

.header {
  margin-bottom: 0px;
}
.list-container {
  width: auto;
  height: auto;
  border: 1px solid $colorE1E5EB;
  border-radius: 7px;
  background-color: $white;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.active-color {
  color: $active;
}
.p-color {
  color: $color747474;
  font-weight: 350;
}
.link-color {
  color: $black;
  font-weight: 500;
}
.bottom {
  margin-bottom: 91px;
}

.about-us2 {
  margin-top: 61px;
}
.title-color {
  color: $color22262A;
  margin-bottom: 43px;
}
.title2-color {
  color: $color262626;
}
.title3-color {
  color: $color262626;
  font-weight: 350;
}
.last-el {
  margin-bottom: 104px;
}
.list-container {
  img {
    width: 129px;
    height: 129px;
  }
}
/* 125 */
@media (max-width: 1093px) {
  .list-container {
    img {
      width: 105px;
      height: 105px;
    }
  }
}
/* 150 */
@media (max-width: 950px) {
  .list-container {
    img {
      width: 125px;
      height: 125px;
    }
    .fs-16 {
      font-size: 10px !important;
    }
    .fs-12 {
      font-size: 10px !important;
    }
    .fs-14 {
      font-size: 10px !important;
    }
    .mt-3 {
      margin-top: 12px !important;
    }
    .mb-2 {
      margin-bottom: 8px !important;
    }
    .mb-3 {
      margin-bottom: 12px !important;
    }
  }
}
/* ***about-us2**** */
@media (max-width: 950px) {
  .about-us2 {
    img {
      width: 110px;
      height: 120px;
    }
    .fs-24 {
      font-size: 10px !important;
      font-weight: bold;
    }
    .fs-14 {
      font-size: 7px !important;
    }
  }
}
