@import "./variables.scss";

.products {
  /*  margin-right: 104px;  */
  position: relative;
  .lable {
    width: 230px;
    height: 48px;
    background-color: $colorCDD4D9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 100px;
    font-weight: bold;
  }
  .lable::before {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    border-top: 24px solid transparent;
    border-right: 35px solid $colorCDD4D9;
    border-bottom: 24px solid transparent;
    position: absolute;
    right: 242px;
  }

  .mt-96 {
    margin-top: 96px;
  }
  .mb-116 {
    margin-bottom: 116px;
  }
  .mb-41 {
    margin-bottom: 70px;
  }
  .mb-75 {
    margin-bottom: 75px;
  }
  .stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 18px;
    font-family: Times; // make sure ★ appears correctly

    &::before {
      content: "★★★★★";
      letter-spacing: 2px;
      background: linear-gradient(
        90deg,
        $colorFFC600 var(--percent),
        $colorC1C8CE var(--percent)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .rating-color {
    color: $colorFEC440;
  }
  .basket-btn {
    background-color: $active;
    color: $white;
    border-radius: 4px;
    width: 150px;
    height: 46px;
    border: none;
  }
  .favorite-btn {
    width: 46px;
    height: 46px;
    background-color: rgba(69, 110, 214, 0.1);
    border: none;
    border-radius: 4px;
  }
  .gray-rec {
    width: 69px;
    height: 34px;
    border-radius: 4px;
    background-color: $colorF6F7F8;
  }
  .border-left {
    border-left: 4px solid $colorE5E8EA;
  }
}

.text-color {
  color: $color262626;
  width: 300px;
  font-weight: 300;
}
.main-text {
  font-weight: 300;
  color: $color262626;
}
.number-color {
  color: $colorFF4858;
  font-weight: 500;
}

.color {
  color: $color262626;
  font-weight: 300;
}
.price {
  color: $color747474;
}
@media (max-width: 950px) {
  .products {
    .lable {
      width: 80px;
    }
    .mt-96 {
      margin-top: 25px;
  }
  .mb-116 {
    margin-bottom: 65px;
}
    .lable::before {
      width: 0;
      height: 0;
      content: "";
      display: inline-block;
      border-top: 25px solid transparent;
      border-right: 35px solid $colorCDD4D9;
      border-bottom: 25px solid transparent;
      position: absolute;
      right: 90px;
    }
    .fs-13 {
      font-size: 10px !important;
    }
    .fs-16 {
      font-size: 10px !important;
    }

    .fs-22 {
      font-size: 14px !important;
    }
    .fs-14 {
      font-size: 12px !important;
    }
    .fs-18 {
      font-size: 9px !important;
    }
    .fs-20 {
      font-size: 14px !important;
    }
    .main-image {
      img {
        width: 80px;
      }
    }
    .product-containerr {
      .mb-5 {
        margin-bottom: 58px !important;
      }
      .mb-3 {
        margin-bottom: 44px !important;
      }
      .mb-41 {
        margin-bottom: 70px !important;
      }
      .mb-4 {
        margin-bottom: 42px !important;
      }
      .mb-75 {
        margin-bottom: 70px !important;
      }
    }
    .beats-img {
      img {
        width: 33px;
        height: 33px;
      }
    }
  }
  .main-image{
   img{
    width: 80px;
    height: 80px;
   }
  }
}
