@import "../assets/fonts/ff-shamel-family/ff-shamel-family.css";
:root {
  --white: #ffffff;
  --black: #000000;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

/* Font Sizes */
.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-31 {
  font-size: 31px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-33 {
  font-size: 33px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-37 {
  font-size: 37px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-39 {
  font-size: 39px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-41 {
  font-size: 41px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-43 {
  font-size: 43px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-47 {
  font-size: 47px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-49 {
  font-size: 49px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-51 {
  font-size: 51px !important;
}

.fs-52 {
  font-size: 52px !important;
}

.fs-53 {
  font-size: 53px !important;
}

.fs-54 {
  font-size: 54px !important;
}

.fs-55 {
  font-size: 55px !important;
}

.fs-56 {
  font-size: 56px !important;
}

.fs-57 {
  font-size: 57px !important;
}

.fs-58 {
  font-size: 58px !important;
}

.fs-59 {
  font-size: 59px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.fs-61 {
  font-size: 61px !important;
}

.fs-62 {
  font-size: 62px !important;
}

.fs-63 {
  font-size: 63px !important;
}

.fs-64 {
  font-size: 64px !important;
}

.fs-65 {
  font-size: 65px !important;
}

/* Opacity */
.opacity-1 {
  opacity: 0.01;
}

.opacity-2 {
  opacity: 0.02;
}

.opacity-3 {
  opacity: 0.03;
}

.opacity-4 {
  opacity: 0.04;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-6 {
  opacity: 0.06;
}

.opacity-7 {
  opacity: 0.07;
}

.opacity-8 {
  opacity: 0.08;
}

.opacity-9 {
  opacity: 0.09;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-11 {
  opacity: 0.11;
}

.opacity-12 {
  opacity: 0.12;
}

.opacity-13 {
  opacity: 0.13;
}

.opacity-14 {
  opacity: 0.14;
}

.opacity-15 {
  opacity: 0.15;
}

.opacity-16 {
  opacity: 0.16;
}

.opacity-17 {
  opacity: 0.17;
}

.opacity-18 {
  opacity: 0.18;
}

.opacity-19 {
  opacity: 0.19;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-21 {
  opacity: 0.21;
}

.opacity-22 {
  opacity: 0.22;
}

.opacity-23 {
  opacity: 0.23;
}

.opacity-24 {
  opacity: 0.24;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-26 {
  opacity: 0.26;
}

.opacity-27 {
  opacity: 0.27;
}

.opacity-28 {
  opacity: 0.28;
}

.opacity-29 {
  opacity: 0.29;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-31 {
  opacity: 0.31;
}

.opacity-32 {
  opacity: 0.32;
}

.opacity-33 {
  opacity: 0.33;
}

.opacity-34 {
  opacity: 0.34;
}

.opacity-35 {
  opacity: 0.35;
}

.opacity-36 {
  opacity: 0.36;
}

.opacity-37 {
  opacity: 0.37;
}

.opacity-38 {
  opacity: 0.38;
}

.opacity-39 {
  opacity: 0.39;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-41 {
  opacity: 0.41;
}

.opacity-42 {
  opacity: 0.42;
}

.opacity-43 {
  opacity: 0.43;
}

.opacity-44 {
  opacity: 0.44;
}

.opacity-45 {
  opacity: 0.45;
}

.opacity-46 {
  opacity: 0.46;
}

.opacity-47 {
  opacity: 0.47;
}

.opacity-48 {
  opacity: 0.48;
}

.opacity-49 {
  opacity: 0.49;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-51 {
  opacity: 0.51;
}

.opacity-52 {
  opacity: 0.52;
}

.opacity-53 {
  opacity: 0.53;
}

.opacity-54 {
  opacity: 0.54;
}

.opacity-55 {
  opacity: 0.55;
}

.opacity-56 {
  opacity: 0.56;
}

.opacity-57 {
  opacity: 0.57;
}

.opacity-58 {
  opacity: 0.58;
}

.opacity-59 {
  opacity: 0.59;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-61 {
  opacity: 0.61;
}

.opacity-62 {
  opacity: 0.62;
}

.opacity-63 {
  opacity: 0.63;
}

.opacity-64 {
  opacity: 0.64;
}

.opacity-65 {
  opacity: 0.65;
}

.opacity-66 {
  opacity: 0.66;
}

.opacity-67 {
  opacity: 0.67;
}

.opacity-68 {
  opacity: 0.68;
}

.opacity-69 {
  opacity: 0.69;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-71 {
  opacity: 0.71;
}

.opacity-72 {
  opacity: 0.72;
}

.opacity-73 {
  opacity: 0.73;
}

.opacity-74 {
  opacity: 0.74;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-76 {
  opacity: 0.76;
}

.opacity-77 {
  opacity: 0.77;
}

.opacity-78 {
  opacity: 0.78;
}

.opacity-79 {
  opacity: 0.79;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-81 {
  opacity: 0.81;
}

.opacity-82 {
  opacity: 0.82;
}

.opacity-83 {
  opacity: 0.83;
}

.opacity-84 {
  opacity: 0.84;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-86 {
  opacity: 0.86;
}

.opacity-87 {
  opacity: 0.87;
}

.opacity-88 {
  opacity: 0.88;
}

.opacity-89 {
  opacity: 0.89;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-91 {
  opacity: 0.91;
}

.opacity-92 {
  opacity: 0.92;
}

.opacity-93 {
  opacity: 0.93;
}

.opacity-94 {
  opacity: 0.94;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-96 {
  opacity: 0.96;
}

.opacity-97 {
  opacity: 0.97;
}

.opacity-98 {
  opacity: 0.98;
}

.opacity-99 {
  opacity: 0.99;
}

.text-395077 {
  color: #395077;
}

.form-control-border {
  border: 1px solid #ced4da;
}

.cursor-pointer {
  cursor: pointer;
}

[dir=ltr] .rounded-start-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
[dir=ltr] .rounded-end-0 {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

[dir=rtl] .rounded-start-0 {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
[dir=rtl] .rounded-end-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.text-active {
  color: #456ed6 !important;
}

.text-FF4858 {
  color: #ff4858;
}

.text-FF6875 {
  color: #ff4858;
}

.bg-active {
  background-color: #456ed6;
}

.box-shadow-none {
  box-shadow: none !important;
}

.header {
  background-color: rgba(246, 247, 248, 0.5);
  color: #456ed6;
  font-weight: bold;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  line-height: 17px;
  letter-spacing: 0.35px;
}

@font-face {
  font-family: "shamel";
  src: url("../assets/fonts/ff-shamel-family/ff-shamel-family.ttf") format("truetype");
}
body {
  height: 100%;
  margin: 0;
  font-family: "shamel";
}

.header {
  margin-top: 0rem !important;
}

.contact-us .form-control {
  border-radius: 4px;
  border: 2px solid #f1f3f4;
  padding: 21px;
}
.contact-us ::-moz-placeholder {
  font-size: 14px;
  color: #262626;
  opacity: 50%;
}
.contact-us ::placeholder {
  font-size: 14px;
  color: #262626;
  opacity: 50%;
}
.contact-us .sent-btn {
  width: 243px;
  height: 46px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #456ed6;
  border: none;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.p-color {
  color: #171717;
  font-weight: bold;
}

.p2-color {
  color: #262626;
}

.p3-color {
  color: #456ed6;
  font-weight: bold;
}

.fw-b {
  font-weight: bold;
}

.text-input {
  height: 60px;
}

.text-area {
  height: 132px;
}

@media (max-width: 950px) {
  .contact-us .fs-18 {
    font-size: 16px !important;
  }
  .contact-us .fs-16 {
    font-size: 12px !important;
  }
  .contact-us .fs-13 {
    font-size: 12px !important;
  }
  .contact-us .fs-12 {
    font-size: 12px !important;
  }
  .contact-us .sent-btn {
    width: 150px;
  }
  .contact-us .text-area {
    height: 120px;
    font-size: 12px;
  }
  .contact-us .text-input {
    height: 10px;
  }
  .contact-us .mb-5 {
    margin-bottom: 2rem !important;
  }
  .contact-us ::-moz-placeholder {
    font-size: 12px;
  }
  .contact-us ::placeholder {
    font-size: 12px;
  }
}/*# sourceMappingURL=contactus.css.map */