@import "../assets/fonts/ff-shamel-family/ff-shamel-family.css";
:root {
  --white: #ffffff;
  --black: #000000;
}

@font-face {
  font-family: "shamel";
  src: url("../assets/fonts/ff-shamel-family/ff-shamel-family.ttf") format("truetype");
}
/* body,
html {
  height: 100%;
  margin: 0;
  font-family: "shamel";
  background-color: var(--bg-offwhite);
}

.btn-delete {
  width: 22px;
  height: 22px;
  color: $colorFF4858 !important;
  background-color: rgba(
    red($colorFF4858),
    green($colorFF4858),
    blue($colorFF4858),
    0.1
  ) !important;
}

.awaiting-payment-text {
  color: $colorFF4858;
}

.order-details-btn {
  color: $active !important;
  background-color: rgba(
    red($active),
    green($active),
    blue($active),
    0.2
  ) !important;
  font-weight: bold;
}


.wrapper {
  width: 181px;
  height: 48px;
  background-color: $colorF3FBFF;
  border-radius: 7px;
  .plus,
  .minus {
    cursor: pointer;
  }
}
table {
  width: 100%;

  th {
    font-size: 16px;
    color: $color22262A;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: normal;
    padding: 1rem;
  }

  tr:not(:last-of-type),
  thead tr {
    border-bottom: 2px solid $colorF6F7F8;
  }
}

@media (max-width: 950px) {
  .scroll-behavior {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    .scrolled-item {
      flex-shrink: 0;
      width: auto;
    }
    .fs-16 {
      font-size: 8px !important;
    }
    .fs-10 {
      font-size: 5px !important;
    }
    .fs-17 {
      font-size: 9px !important;
    }
    .fs-22 {
      font-size: 11px !important;
    }
    .product-img {
      img {
        width: 49px;
        height: 49px;
      }
    }
    .wrapper {
      width: 90.5px;
      height: 24px;
    }
  }
  .fs-18 {
    font-size: 9px !important;
  }
} */
body {
  height: 100%;
  margin: 0;
  font-family: "shamel";
}

.color8A {
  color: #8a888c;
}

.header {
  margin-top: 0px;
}

.card-headerr {
  border-bottom: 2px solid #f6f7f8;
  padding-bottom: 16px;
}

.card-bodyy {
  border-bottom: 2px solid #f6f7f8;
}

.price {
  margin-top: 72px;
}

.btn-delete {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 104, 117, 0.05);
  color: rgb(255, 66, 82);
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 30px;
}
.btn-delete i {
  font-size: 12px;
}

.wrapper {
  width: 116px;
  height: 46px;
  background-color: #f6f7f8;
  border-radius: 4px;
  margin-top: 60px;
}
.wrapper .plus,
.wrapper .minus {
  cursor: pointer;
}

.bill .mar-lef {
  margin-right: 6.5rem;
}
.bill .discount {
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #f1f3f4;
  width: 250px;
  height: 60px;
}
.bill .discount::-moz-placeholder {
  font-size: 16px;
  color: rgba(38, 38, 38, 0.5);
}
.bill .discount::placeholder {
  font-size: 16px;
  color: rgba(38, 38, 38, 0.5);
}
.bill .sure {
  background-color: #22262a;
  height: 60px;
  width: 118px;
}
.bill .button {
  font-size: 16px !important;
}
.bill .btn {
  color: #ffffff;
  width: 118px;
  height: 60px;
  font-size: 16px;
}
.bill .marr-419 {
  margin-right: 250px;
}
.bill .mb-33 {
  margin-bottom: 33px;
}
.bill .mr-293 {
  margin-right: 265px;
}
.bill .mr-238 {
  margin-right: 211px;
}
.bill .mr-254 {
  margin-right: 229px;
}
.bill .border-btm {
  border-bottom: 1px solid #f6f7f8;
}
.bill .mt-26 {
  margin-top: 26px;
}
.bill .mr-185 {
  margin-right: 165px;
}
.bill .color-ILS {
  color: #ff4858;
}
.bill .buy-now .btn {
  background-color: #456ed6;
  color: #ffffff;
  width: 370px;
  height: 46px;
  border-radius: 4px;
  font-size: 14px;
}
.bill .mt-45 {
  margin-top: 45px;
}
.bill .mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 950px) {
  .price {
    margin-top: 35px;
  }
  .wrapper {
    margin-top: 0px;
  }
  .bill .buy-now .btn {
    width: 220px;
    font-size: 7px;
  }
  .bill .marr-419 {
    margin-right: 100px;
  }
  .bill .mar-lef {
    margin-right: 0rem;
  }
  .bill .mr-293 {
    margin-right: 150px;
  }
  .bill .mr-238 {
    margin-right: 125px;
  }
  .bill .mr-254 {
    margin-right: 120px;
  }
  .bill .mr-185 {
    margin-right: 108px;
  }
  .bill .discount {
    /*   width: 100px; */
    height: 40px;
    margin-bottom: 20px;
  }
  .bill .discount::-moz-placeholder {
    font-size: 12px;
  }
  .bill .discount::placeholder {
    font-size: 12px;
  }
  .bill .btn {
    width: 71px;
    font-size: 12px;
  }
  .bill .sure {
    height: 40px;
  }
  .bill .fs-16 {
    font-size: 12px !important;
  }
  .bill .fs-24 {
    font-size: 12px !important;
  }
}/*# sourceMappingURL=phone-collection.css.map */