// colors
$white: #ffffff;
$colorF2F2F2: #f2f2f2;
$colorFFC540: #ffc540;
$color395077: #395077;
$active: #456ed6;
$color121212: #121212;
$color171717: #171717;
$color00000033: #00000033;
$black: #000000;
$colorFAFAFA: #fafafa;
$color414141: #414141;
$colorC4C4C4: #c4c4c4;
$colorB8B8B8: #b8b8b8;
$colorF6F7F8: #f6f7f8;
$color00000040: #00000040;
$color22262A: #22262a;
$colorFF4858: #ff4858;
$colorFF6875: #ff6875;
$colorF1F3F4: #f1f3f4;
$color262626: #262626;
$color494CA3: #494ca3;
$colorFFC000: #ffc000;
$colorC1C8CE: #c1c8ce;
$color03A9F4: #03a9f4;
$color385C8E: #385c8e;
$color5D656B: #5d656b;
$colorFFC600: #ffc600;
$colorE5E8EA: #e5e8ea;
$colorfec440: #fec440;
$colorFAFAFB: #fafafb;
$colorCDD4D9: #cdd4d9;
$colorECECEC: #ececec;
$colorE5E5E5: #e5e5e5;
$colorAAAAAA: #aaaaaa;
$colorF2F2FF: #f2f2ff;
$color9F9F9F: #9f9f9f;
$color747474: #747474;
$color1650A3: #1650a3;
$color191A1B: #191a1b;
$colorF5F5F5: #f5f5f5;
$colorF3FBFF: #f3fbff;
$colorFF9700: #ff9700;
$colorDC493C: #dc493c;
$color007AB9: #007ab9;
$color55ACEE: #55acee;
$color3A589B: #3a589b;
$colorFAFBFB: #fafbfb;
$color0232EB26: #0232eb26;
$colorF7F7F7: #f7f7f7;
$colorFBFBFC: #fbfbfc;
$color7070704F: #7070704f;
$color9B9B9B: #9b9b9b;
$color8A888C: #8a888c;
$color7474741C: #7474741c;
$colorF83838: #f83838;
$colorF5F5F5: #f5f5f5;
$colorFFFFFF99: #ffffff99;
$color5D5D5D: #5d5d5d;
$colorE1E5EB: #e1e5eb;
$color25BE2A: #25be2a;
$colorFAB500: #fab500;
$colorE31D38: #e31d38;
$color165AFC: #165afc;
$colorFEC440: #fec440;
$colorFF6701: #ff6701;
$color7474741F: #7474741f;
$color858585: #858585;
$color1717172E: #1717172e;
$colorFF4252: #ff4252;
$color707070: #707070;
$color006CFF: #006cff;
$colorFC3E39: #fc3e39;
$colorFFF600: #fff600;
$colorFF00B4: #ff00b4;
$colorEFDFDF: #efdfdf;
$color0F0F0F: #0f0f0f;
$colorB3B3B33D: #b3b3b33d;
$color1A1A1A: #1a1a1a;
$color858585: #858585;
:root {
  --white: #ffffff;
  --black: #000000;
}

// form control border
$form-control-border: 1px solid #ced4da;
